<form action="<%= action %>" method="post">
  <%= authenticate %>

  <label for="user_email">Email</label>
  <input type="text" name="user[email]"
         id="user_email" value="<%= @user.email %>">
  <br>

  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>

  <input type="submit"></input>
</form>