<form action="<%= action %>" method="post">
  <% unless @sub.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= authenticate %>

  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>

  <label for="sub_description">Description</label>
  <textarea name="sub[description]" id="sub_description"
    ><%= @sub.description %></textarea>
  <br>

  <input type="hidden" name="sub[moderator_id]"
         value="<%= current_user.id %>">

  <button><%= button_name %> Sub</button>
</form>