<h1>Edit sub, <%= @sub.title %></h1>

<% action = sub_url(@sub) %>

<%= render partial: "form", locals: { sub: @sub, action: action, button_name: "Update" } %>

<form action="<%= sub_url(@sub) %>" method="get">
  <%= authenticate %>
  <button>Cancel</button>
</form>

