<h1>All Subs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Moderator</th>
  </tr>
  <% @subs.each do |sub| %>
    <tr>
      <td><a href="<%= sub_url(sub) %>"><%= sub.title %></a></td>
      <td><%= sub.description %></td>
      <td><%= sub.moderator.email %></td>
      <td><a href="<%= edit_sub_url(sub) %>">Edit</a></td>
    </tr>
  <% end %>
</table>

<a href="<%= new_sub_url %>">Create a new Sub</a>