<h1><%= @sub.title %></h1>

<h2>Description: <%= @sub.description %></h2>
<h2>Moderator: <%= @sub.moderator.email %></h2>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th>url</th>
  </tr>
  <% @sub.posts.each do |post| %>
    <tr>
      <td><a href="<%= post_url(post) %>"><%= post.title %></a></td>
      <td><%= post.content %></td>
      <td><%= post.author.email %></td>
      <td><%= post.url %></td>
      <td><a href="<%= edit_post_url(post) %>">Edit</a></td>
    </tr>
  <% end %>
</table>

<a href="<%= subs_url %>">&lt;&lt; All Subs</a>
<a href="<%= edit_sub_url(@sub) %>">Edit</a>