<form action="<%= action %>" method="post">
  <% if @post.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= authenticate %>

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>

  <label>url:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>

  <label for="post_content">Content</label>
  <textarea name="post[content]" id="post_content"
    ><%= @post.content %></textarea>
  <br>

  <p>
  <label>Subs to post in:</label><br>
  <input type="hidden" name="post_sub[sub_id][]" value="">
  <% Sub.all.each do |sub| %>
    <label>
    <input type="checkbox" name="post_sub[sub_id][]"
      value="<%= sub.id %>">
    <%= sub.title %></label>
    <br>
  <% end %>
  </p>

  <input type="hidden" name="post[author_id]"
         value="<%= current_user.id %>">

  <button><%= button_name %> Post</button>

</form>