<h1><%= @post.title %></h1>
<h4><a href="@post.url"><%= @post.url %></a></h4>
<h2>Content: <%= @post.content %></h2>
<h2>Author: <%= @post.author.email %></h2>


<a href="<%= edit_post_url(@post) %>">Edit</a>